*{
  margin: 0;
  padding: 0;
}

#root{
  width: 100%;
}


/* ******************************************NAV*************************************************** */


nav{
  width: 100%;
}

.himage{
  height: 10vh;
}

.navbar-nav > li > a{
  color: white !important;
  margin-right: 1rem;
  margin-left: 1rem;
  border-top: 0.1875rem solid black;
  
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-top: 0.1875rem solid gray;
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid gray;
}



/* ****************************************HEADER****************************************************** */

.headimage{
  height: 35rem;
  width: 100%;
}



/* ************************TYPE TEXTE******************************* */

.textAnime{
  position: absolute;
  font-size: 2em;
  top: 20vh;
  left: 80vh;
}


/* ****************************************BIOGRAPHY PAGE****************************************************** */

.descrption h1{
  text-align: center;
}

.texte{
  text-align: center;
}

.descrption{
  display: flex;
  justify-content: space-around;
  margin-top: 7em;
}
.photo{
  margin-top: 4em;
 
}

/* ****************************************CONTACT PAGE ****************************************************** */

.iconSend img{
  height: 10em;
 
  margin-top: 3em;

}

.iconSend h1{
  text-align: center;
}
.containe{
  display: flex;
justify-content: space-around;  

 
}

.containe p{
font-size: 2em;
margin-top: 2em;
text-align: justify;
}
.icone{
  display: flex;
  justify-content: center;
  
}
.social{
  margin-left: 2em;
}
/* ****************************************PROJECT PAGE ****************************************************** */
.card{
   margin-right: 2em;
  margin-top: 4em;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}
.content{
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
}
.github{
  margin-right: 2em;
  font-size: 2em;
  color: black;
}
.ghpage{
 
  font-size: 2em;
}
.cardtitle{
  font-size: 3em;
}
.cardtext{
font-size: 2em;
}
/* **************************************** homePAGE ****************************************************** */

.cardImg{
  height: 100px;
  width: 45%;
  margin-left: 35px;
  
  
}
.class-col {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 0 2em 0 2em;


}

.main-container {
  display: flex;
}
.competence {
  text-align: center;
}